---

---

<profile class="profile-container flex flex-col md:flex-row text-center md:text-left w-full box-border text-white">
    <img 
      src="/images/headshot.jpg"
      alt="My headshot"
      width="32rem"
      height="32rem"
      class="w-32 h-32 md:w-48 md:h-48 bg-black">
    </img>


    <div class="content ml-20 p-4 bg-[#373D4D]">
        <h1 class="title mb-2 text-left font-inter font-semibold ">HELLO!</h1>
        <p class="description text-left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quibusdam 
            repudiandae reiciendis, aliquam enim rem mollitia minima? Nesciunt, provident. 
            Enim perspiciatis cumque expedita dolorum amet provident et nobis, voluptas natus 
            quaerat deserunt illum tenetur vero culpa, animi nulla ex quos.
        </p>
    </div>

</profile>
