---
// filepath: /m:/Software Inventory/git repo/VSCode/myWeb/src/pages/404.astro
// Component Import
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page not found">
  <div class="font-Inter h-[20rem] pb-[25rem] pt-[10rem] text-center">
    <h1 class="font-Inter text-[2.5rem] font-bold">
      Uh oh, this page doesn't exist!
    </h1>
    <p class="text-[2rem]">You got a little lost...</p>

    <div class="button mt-8">
      <Link
        href="/"
        text="Go back to home"
        classes="text-white bg-black p-2 w-[200px]"
      />
    </div>
  </div></MainLayout
>
