---
import '@fontsource/inter'; // Import the Inter font
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import FeaturedCarousel from '../components/FeaturedCarousel.astro';
import ProjectsList from '../components/RectList.jsx';
---

<Layout>
    <div slot="section1">
        <Profile />
        <FeaturedCarousel />
    </div>
    <div slot="section2">
        <ProjectsList client:load />
    </div>
</Layout>