---
import '@fontsource/inter'; // Import the Inter font
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import FeaturedCarousel from '../components/FeaturedCarousel.astro';
import ProjectsList from '../components/ProjectsList.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout>
    <div slot="section1">
        <Profile />
		<FeaturedCarousel />
    </div>
    <div slot="section2">
		<ProjectsList />
    </div>
</Layout>