---
import '@fontsource/inter'; // Import the Inter font
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import FeaturedCarousel from '../components/FeaturedCarousel.astro';
import RectList from '../components/RectList.jsx';

const recentProjects = [
  { type: 'PROJECT', title: 'CAR PROJ', description: 'Description of Project 1', startDate: 'Jan 2021', endDate: 'Dec 2021', numPeople: '5 People' },
  { type: 'PROJECT', title: 'CAR PROJ', description: 'Description of Project 2', startDate: 'Feb 2021', endDate: 'Dec 2021', numPeople: '4 People' },
  { type: 'PROJECT', title: 'CAR PROJ', description: 'Description of Project 3', startDate: 'Mar 2021', endDate: 'Dec 2021', numPeople: '3 People' },
  { type: 'PROJECT', title: 'CAR PROJ', description: 'Description of Project 4', startDate: 'Apr 2021', endDate: 'Dec 2021', numPeople: '2 People' },
  { type: 'PROJECT', title: 'CAR PROJ', description: 'Description of Project 5', startDate: 'May 2021', endDate: 'Dec 2021', numPeople: '1 Person' },
];

const recentCompetitions = [
  { type: 'COMPETITION', title: 'COMP 1', description: 'Description of Competition 1', startDate: 'Jan 2021', endDate: 'Dec 2021', numPeople: '10 People' },
  { type: 'COMPETITION', title: 'COMP 2', description: 'Description of Competition 2', startDate: 'Feb 2021', endDate: 'Dec 2021', numPeople: '8 People' },
  { type: 'COMPETITION', title: 'COMP 3', description: 'Description of Competition 3', startDate: 'Mar 2021', endDate: 'Dec 2021', numPeople: '6 People' },
  { type: 'COMPETITION', title: 'COMP 4', description: 'Description of Competition 4', startDate: 'Apr 2021', endDate: 'Dec 2021', numPeople: '4 People' },
  { type: 'COMPETITION', title: 'COMP 5', description: 'Description of Competition 5', startDate: 'May 2021', endDate: 'Dec 2021', numPeople: '2 People' },
];
---

<Layout>
    <div slot="section1">
        <Profile />
        <FeaturedCarousel />
    </div>
    <div slot="section2">
        <RectList client:load headerTitle="Recent Projects" projects={recentProjects} />
    </div>
    <div slot="section3">
        <RectList client:load headerTitle="Recent Competitions" projects={recentCompetitions} />
    </div>
</Layout>