---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="pb-2 pl-7 text-center text-2xl text-red-500">
    This is a red heading with left padding of 7px
  </h1>

  <h1 class="pb-2 pl-7 text-center text-2xl text-red-500">
    This is a red heading with left padding of 7px
  </h1>
  <Welcome />
</Layout>
