---
const pdfUrl = '/path/to/your/pdf-file.pdf';
---





<div class="w-full h-screen overflow-auto">
  <iframe
    src={pdfUrl}
    class="w-full h-full"
    frameborder="0"
    title="PDF Viewer"
  ></iframe>
</div>