---
const featuredItems = [
  { title: 'Project 1', description: 'Description of Project 1', image: '/path/to/image1.jpg' },
  { title: 'Project 2', description: 'Description of Project 2', image: '/path/to/image2.jpg' },
  { title: 'Project 3', description: 'Description of Project 3', image: '/path/to/image3.jpg' },
  // Add more items as needed
];
---

<div class="carousel-container flex flex-col items-center py-12 px-10 max-w-7xl mx-auto box-border">
    <h1 class="text-[1rem] mb-2 text-white text-left w-full">Featured Projects</h1>
    
    <div class="w-full bg-[#373D4D] mb-8 flex">
        <!-- Left side: Picture -->
        <div class="flex-shrink-0 w-[66%]">
            <div class="relative w-full" style="padding-top: 56.25%;"> <!-- 16:9 Aspect Ratio -->
                <div class="absolute top-0 left-0 w-full h-full bg-black"></div>
            </div>
        </div>
        
        <!-- Right side: Content -->
        <div class="flex-grow flex flex-col justify-between p-4">
            <!-- Subtitle and Title -->
            <div>
                <h2 class="text-[1rem] text-white">PROJECT</h2>
                <h1 class="text-[1.8rem] text-white">HEXAPOD DESIGN</h1>
            </div>
            
            <!-- 4 Images in a window form -->
            <div class="flex flex-wrap gap-2 justify-center">
                <div class="w-[calc(50%-0.5rem)]">
                    <div class="relative w-full" style="padding-top: 56.25%;"> <!-- 16:9 Aspect Ratio -->
                        <div class="absolute top-0 left-0 w-full h-full bg-black"></div>
                    </div>
                </div>
                <div class="w-[calc(50%-0.5rem)]">
                    <div class="relative w-full" style="padding-top: 56.25%;"> <!-- 16:9 Aspect Ratio -->
                        <div class="absolute top-0 left-0 w-full h-full bg-black"></div>
                    </div>
                </div>
                <div class="w-[calc(50%-0.5rem)]">
                    <div class="relative w-full" style="padding-top: 56.25%;"> <!-- 16:9 Aspect Ratio -->
                        <div class="absolute top-0 left-0 w-full h-full bg-black"></div>
                    </div>
                </div>
                <div class="w-[calc(50%-0.5rem)]">
                    <div class="relative w-full" style="padding-top: 56.25%;"> <!-- 16:9 Aspect Ratio -->
                        <div class="absolute top-0 left-0 w-full h-full bg-black"></div>
                    </div>
                </div>
            </div>
            
            <!-- Description -->
            <p class="text-white mb-4">This is a brief description about the project. Tra la la beware of the man who speaks in hands</p>
            
            <!-- Bottom left and right corner text -->
            <div class="flex justify-between">
                <span class="text-[0.7rem] text-white">July 25th 2015 - Present</span>
                <span class="text-[0.7rem] text-white">Personal</span>
            </div>
        </div>
    </div>
</div>