---

---

<footer aira-label="footer" class="mt-8 h-[300px] max-w-full bg-black">
  <small class="font-inter text-white">
    Copyright &copy; <span id="copyright"></span> | All rights reserved
  </small>
</footer>

<script>
  const copyrightElement = document.querySelector("#copyright");
  if (copyrightElement) {
    copyrightElement.textContent = new Date().getFullYear().toString();
  }
</script>
