---

---

<footer aira-label="footer" class="max-w-full h-[300px] mt-8 bg-black">
  <small class="text-white font-inter">
    Copyright &copy; <span id="copyright"></span> | All rights reserved
  </small>
</footer>

<script>
  const copyrightElement = document.querySelector("#copyright");
  if (copyrightElement) {
    copyrightElement.textContent = new Date().getFullYear().toString();
  }
</script>
