
  </style>
  
  <div class="w-full bg-black overflow-hidden">
    <div class="header-wrapper w-full text-white font-inter">
        <header
            class="header flex justify-between items-center px-10 py-7 max-w-7xl mx-auto"
        >
            <a href="/" class="flex gap-x-4 items-center whitespace-nowrap mr-8">
                <p class="uppercase text-3xl font-bold">MARCUS FU</p>
            </a>
  
            <nav class="flex gap-x-8">
                <a href="/projects" class="uppercase text-lg border-b-2 border-white">Projects</a>
                <a href="/competitions" class="uppercase text-lg">Competitions</a>
                <a href="/experience" class="uppercase text-lg">Experience</a>
                <a href="/about" class="uppercase text-lg">About</a>
                <a href="/resume" class="uppercase text-lg">Resume</a>
            </nav>
        </header>
    </div>
  </div>