---
import RectDisplay from './RectDisplay.astro';
---

<div class="carousel-container flex flex-col items-center py-12 px-10 max-w-7xl mx-auto box-border">
    <h1 class="text-[1rem] mb-10 text-white text-left w-full relative">
        Recent Projects
        <span class="absolute bottom-0 left-0 w-full h-[2px] bg-white"></span>
    </h1>
    
    <div class="w-full bg-transparent mb-8 flex flex-col gap-4 items-center">
        <RectDisplay type="PROJECT" title="CAR PROJ" description="Description of Project 1" startDate="Jan 2021" endDate="Dec 2021" numPeople="5 People" />
        <RectDisplay type="PROJECT" title="CAR PROJ" description="Description of Project 1" startDate="Jan 2021" endDate="Dec 2021" numPeople="5 People" />
        <RectDisplay type="PROJECT" title="CAR PROJ" description="Description of Project 1" startDate="Jan 2021" endDate="Dec 2021" numPeople="5 People" />
        <RectDisplay type="PROJECT" title="CAR PROJ" description="Description of Project 1" startDate="Jan 2021" endDate="Dec 2021" numPeople="5 People" />
    </div>
</div>