---
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
---


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Nav />

    <section id="home" class="section min-h-screen">
      <h2>Home</h2>
      <!-- Content for Home section -->
    </section>

    <section id="projects" class="section min-h-screen  m-4">
      <h2>Projects</h2>
      <!-- Content for Projects section -->
    </section>

    <section id="competitions" class="section min-h-screen m-4">
      <h2>Competitions</h2>
      <!-- Content for Competitions section -->
    </section>

    <section id="experiences" class="section min-h-screen  m-4">
      <h2>Experiences</h2>
      <!-- Content for Experiences section -->
    </section>

    <section id="about" class="section min-h-screen  m-4">
      <h2>About</h2>
      <!-- Content for About section -->
    </section>

    <section id="resume" class="section min-h-screen  m-4">
      <h2>Resume</h2>
      <!-- Content for Resume section -->
    </section>

    <Footer />
  </body>
</html>
  
<style>
  html {
    scroll-behavior: smooth; /* Enable smooth scrolling inside <html> tag*/
  }
</style>