---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" class="bg-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>

  <body>
    <Nav />

    <div class="Header_Padding pt-[92px]"></div>
    <main class="scroll-m-[4rem] bg-white">
    <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth; /* Enable smooth scrolling inside <html> tag*/
  }
</style>
